<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated configs -->
      <package
            uri="http://www.lunifera.org/ecview/uiconfigs"
            class="org.lunifera.ecview.model.uiConfigs.UiConfigsPackage"
            genModel="model/configs.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.lunifera.ecview.model.uiConfigs.util.ConfigResourceFactory"
            protocolName="uiconfig">
      </parser>
   </extension>

</plugin>
