<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.lunifera.ecview"
            name="Lunifera">
      </category>
      <view
            allowMultiple="false"
            category="org.lunifera.ecview"
            class="org.lunifera.ecview.vaadin.ide.preview.parts.ECViewVaadinViewExecutableExtensionRegistry:org.lunifera.ecview.vaadin.ide.preview.parts.ECViewVaadinPreviewPart"
            id="org.lunifera.ecview.ide.preview.vaadin"
            name="Vaadin Preview View">
      </view>
   </extension>
</plugin>
