<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.lunifera.ecview"
            name="Lunifera">
      </category>
      <view
            allowMultiple="false"
            category="org.lunifera.ecview"
            class="org.lunifera.ecview.vaadin.ide.preview.parts.ECViewVaadinViewExecutableExtensionRegistry:org.lunifera.ecview.vaadin.ide.preview.parts.ECViewIDEPreviewPart"
            icon="icons/idePreview.gif"
            id="org.lunifera.ecview.ide.preview.vaadin.ide"
            name="Vaadin IDE Preview">
      </view>
      <view
            allowMultiple="false"
            category="org.lunifera.ecview"
            class="org.lunifera.ecview.vaadin.ide.preview.parts.ECViewVaadinViewExecutableExtensionRegistry:org.lunifera.ecview.vaadin.ide.preview.parts.ECViewMobilePreviewPart"
            icon="icons/mobilePreview.gif"
            id="org.lunifera.ecview.ide.preview.vaadin.mobile"
            name="Vaadin Mobile Preview">
      </view>
   </extension>
</plugin>
