<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UISemanticsGrammar -->
      <package
            uri="http://www.lunifera.org/ecview/uisemantics/uisemantics"
            class="org.lunifera.ecview.semantic.uisemantics.UiSemanticsPackage"
            genModel="model/UISemanticsGrammar.genmodel"/>
   </extension>

</plugin>
