<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.lunifera.xtext.builder.target.luna" sequenceNumber="89">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.jetty.websockets.feature.group" version="8.1.14"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/luna/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.xtext.builder.feature.types.feature.group" version="0.8.1.201406291517"/>
<unit id="org.lunifera.dependencies.feature.atmosphere.feature.group" version="2.1.2.201407070858"/>
<unit id="org.lunifera.xtext.builder.feature.types.source.feature.group" version="0.8.1.201406291517"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.components.feature.group" version="0.0.1.201407061419"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.common.feature.group" version="0.0.1.201407061419"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.2.3"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.components.source.feature.group" version="0.0.1.201407061419"/>
<unit id="org.lunifera.runtime.feature.common.source.feature.group" version="0.7.1.201407011710"/>
<unit id="org.lunifera.runtime.feature.common.feature.group" version="0.7.1.201407011710"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.common.source.feature.group" version="0.0.1.201407061419"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/luna/latest/"/>
</location>
</locations>
</target>
