<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.lunifera.xtext.builder.target.luna" sequenceNumber="106">
<locations>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
