<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIGrammarCore -->
      <package
            uri="http://www.lunifera.org/ecview/dsl/UIModel/extension"
            class="org.lunifera.ecview.semantic.uimodel.uiextension.UiextensionPackage"
            genModel="model/UIGrammarCore.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIGrammar -->
      <package
            uri="http://www.lunifera.org/ecview/dsl/UIModel"
            class="org.lunifera.ecview.semantic.uimodel.UimodelPackage"
            genModel="model/UIGrammar.genmodel"/>
   </extension>

</plugin>
